/* es la apariencia de la estructura HTML.  Es como la obra blanca, son las reglas gráficas */
* { /* este * es para poner estilo que quiero que se aplique a todos los elementos  */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
html{
    background-color: rgb(252, 244, 217);
    ;
}

/* body {
    background-color: rgba(252, 244, 217,1);

} */


.center {
  text-align: center;
  /* align-items: center;
  align-self: center;
  align-content: center; */
}

#NoDecor{
  text-decoration: none;
  cursor: pointer;
}


.nav{
  max-width: 1024px;
  /* display: flex; */
  background-color: whitesmoke;
  height: 65px;
  /* box-sizing: border-box; */
  
}

.location ul{
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: center;
  margin: 2px;
}

.location ul li{
  margin: 2px;
}

.Pmenu{
    background-color: black;
    color: cornsilk;
    text-decoration: none;
    padding: 10px;
}


.banner {
    background-color: rgb(255, 199, 176);
    padding-top: 5px;
    padding-bottom: 20px;
    display: block;
}

.titulo2 {
  color:rgb(90, 45, 12);
}



.btnCIDA{
  color:whitesmoke;
  
  background-color: tomato;
  padding:10px;
  border-radius:5px;
  border:dotted blanchedalmond;
  text-align: center;
}

.btntext{
  text-decoration: none;

}

.titulo3{
  color:rgb(90, 45, 12);
}

.list{
  color:rgb(90, 45, 12);
}



.inhabilitar {
  display: none;
}


.habilitar{
  display: inline;
}

.carrusel{
  width: 850px;
  height: 600px;
  object-fit:scale-down ;
  border-radius: 40px;

}

.size{
  height: 500px;
  width: auto ;
}

.footer{
  background-color: azure;
}

@media only screen and (max-width:800px) { /* aqui tambien puede se 100%, o 80% o lo que uo quiera en vez de pixeles */
    body {
        background-color: darksalmon;
    }

    .location ul{
      flex-direction: column;
      /* position: fixed; */
      display: flex;
      align-items: center;
      list-style: none;
      justify-content: center;
    }
    .location ul li{
      flex-direction: column;
      display: flex;
      list-style: none;
      margin: 10px;
      width: 120%;
      height: 20px;
    }

    iframe{
      width: 95%;
    
    }
    
    .nav{
      height: 230px;
      display: flex;
      justify-content:center;
      align-items: center;
    }

    .img1, .img2{
      width: 95%;
    }

    .size{
      width: 90%;
      height: auto;
      object-fit:unset; 
    }


}
