* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: blanchedalmond;
}

.nombre {
    text-decoration: none;
    text-align: center;
}

.navegador {
    text-align: center;
    background-color: whitesmoke;
    padding: 10px;
    
}
.navegador a{
    background-color: black;
    color: cornsilk;
    text-decoration: none;
    padding: 10px;
}


.space {
    width: 300px;
}

#formulario{
    background-color: rgb(255, 255, 255);
    width: 400px; height: 800px; 
    border-top-left-radius: 25px; border-bottom-right-radius: 25px; border: 5px solid rgb(153, 112, 94);

}


@media screen and (max-width:500px) { /* aqui tambien puede se 100%, o 80% o lo que uo quiera en vez de pixeles */
    body{
        background-color: darksalmon;
    }
}