* {
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: blanchedalmond;
}

.titulo1 {
    text-decoration: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.navegador {
    text-align: center;
    background-color: whitesmoke;
    padding: 10px;
    
}
.navegador a{
    background-color: black;
    color: cornsilk;
    text-decoration: none;
    padding: 10px;
}


.space {
    width: 300px;
}

#formulario{
    background-color: rgb(255, 255, 255);
    width: 400px; height: 800px; 
    border-top-left-radius: 25px; border-bottom-right-radius: 25px; border: 5px solid rgb(153, 112, 94);

}

#contact .form-container{
    /* background-color: floralwhite; */
    margin-left: 60px;

}

#contact .form-container .form-group{
    margin-top: 20px;
}

#contact .form-container .form-group label{
    display: block;
    font-size: 18px;
}

#contact .form-container .form-group input{
    font-size: 14px;
    padding: 5px 10px;
}

#contact .form-container .form-group .pristine-error{
    color: brown;
}

@media screen and (max-width:500px) { /* aqui tambien puede se 100%, o 80% o lo que uo quiera en vez de pixeles */
    body{
        background-color: darksalmon;
    }
}